body {
font-family: Arial;
background: #f4f4f4;
}
.container {
background: white;
padding: 20px;
margin: 30px auto;
width: 300px;
text-align: center;
border-radius: 10px;
}
input, select {
width: 100%;
margin: 5px 0;
padding: 8px;
}
button {
padding: 8px 15px;
margin: 5px;
}
.card {
border: 1px solid #ddd;
margin-top: 10px;
padding: 10px;
}